In [1]:
indir = './s0_result'
outdir = indir

In [2]:
import pandas as pd

In [3]:
all_df = []
phasings = ['beagle', 'shapeit', 'eagle']
imputations = ['beagle', 'minimac', 'impute']
refs = ['noREF', 'REF']
for phasing in phasings:
    for imputation in imputations:
        for ref in refs:
            method = f'{phasing}_{ref}_{imputation}'
            fn = f'{indir}/{method}.tsv'
            df = pd.read_csv(fn, sep='\t')
            df['ref'] = ref
            all_df.append(df)

all_df = pd.concat(all_df)
all_df.head()

,sample,maf_bin,num_correct,num_wrong,num_total,accuracy,continent,ref
0,HGDP00001,"[0.01, 0.03)",9078,221,9299,0.976234,CENTRAL_SOUTH_ASIA,noREF
1,HGDP00001,"[0.03, 0.06)",10099,220,10319,0.978680,CENTRAL_SOUTH_ASIA,noREF
2,HGDP00001,"[0.06, 0.1)",10261,190,10451,0.981820,CENTRAL_SOUTH_ASIA,noREF
3,HGDP00001,"[0.1, 0.18)",12596,302,12898,0.976586,CENTRAL_SOUTH_ASIA,noREF
4,HGDP00001,"[0.18, 0.3)",11236,432,11668,0.962976,CENTRAL_SOUTH_ASIA,noREF

In [4]:
# group by sample, maf_bin and ref
avg_df = all_df.groupby(['ref', 'continent', 'sample', 'maf_bin'])['accuracy'].mean().reset_index()
avg_df.head()

# subset to only include noREF
noREF_df = avg_df[avg_df['ref'] == 'noREF']
noREF_df.to_csv(f'{outdir}/noREF.tsv', sep='\t', index=False)

# subset to only include REF
REF_df = avg_df[avg_df['ref'] == 'REF']
REF_df.to_csv(f'{outdir}/REF.tsv', sep='\t', index=False)